{% if page.large != blank %}
<div class="col-12 shadow-sm  p-3 mb-3 bg-white rounded share center-text">
  <img class="img-fluid rounded mx-auto d-block" src="{{ page.large }}" alt="{{ page.title }}">
</div>

{% endif %}
<p>
  Object record: <a href="{{ page.record}}">{{page.title}}</a><br />
  {% if page.institution %}
  Holding institution: {{page.institution}}<br />
  {% endif %}
  {% if page.period %}
  Period: {{ page.period }}<br />
  {% endif %}
  {% if page.categories %}
  Country of Origin: {{page.categories}}
  {% endif %}
</p>
